.body {
  background-color: black;
}

h1 {
  font-family: "Satisfy", cursive;
}

.top1 {
  background-color: white;
  padding-top: 20px;
}

.top2 {
  background-color: white;
  padding-bottom: 20px;
}

.container {
  max-width: 600px;
  height: 100vh;
  background-image: url("/images/paper-background.jpg");
  background-size: 50% cover;
}

.done:hover {
  opacity: 0.8;
  cursor: pointer;
}

ul {
  font-family: "Satisfy", cursive;
  font-size: 30px;
}
